#table-header { 
	display: block;
	width: 230px;
}

.badge {
	background: transparent;
	display: inline;
	width: 217px;
	text-indent: -9999px;
	position: relative;
	left: 20px;
	
	img { max-width: 40%; }
}

#issue {
	font-family: 'Nobile', sans-serif;
	font-size: 1.2em;
	.emphasize { 
		font-weight: bold;
		text-transform: uppercase;
	}
}