#table-header { 
	display: block;
	width: 230px;
}

.badge {
	background: transparent;
	display: inline;
	width: 217px;
	text-indent: -9999px;
	position: relative;
	left: 5px;
	img { max-width: 40%; }
}

#issue {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	.emphasize { 
		font-family: 'Nobile', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
	}
	z-index: 3;
	position: relative;
	left: 95px;
	top: -60px;
	width: 500px;
}

#post-thread-col {
	display: block;
	width: 55%;
	position: relative;
	top: 20%;
}

#address-table-col {
	display: block;
	width: 30%;
	position: fixed;
	left: 60%;
	top: 40%;
}

.wrapper {
  padding-top: 30px;
  margin: 0 auto;
  width: 70%;
}
.comment_box {
  background-color: #D3E7F5; 
  border-bottom: #ffffff solid 1px; 
  padding-top:3px
}

featured {
  position: fixed;
	width: 500px; height: 100px; margin: 0 auto; background: #09f; padding: 20px;
	-webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	line-height: 16px;
	color: #fff;
}

.info {
  display: none;
}

.featchpost {
  font-size: 0.9em;
}
  
a	{
	text-decoration: none;
	color: #d02b55;
}

a:hover {
  	text-decoration: underline 1px dotted;
  	color: #d02b55;
}	
	
ol.timeline {
  list-style: none;
  font-size: 0.8em;
}

ol.timeline li { 
  display: none;
  position: relative;
  padding: .7em 0 .6em 0;
}

ol.timeline li:first-child{}
	
#main {
	width: 500px; 
	margin-top: 20px; 
	margin-left: 100px;
	font-family: "Nobile", sans-serif;
}

#flash {
	margin-left: 100px;
}

.box {
	height: 85px;
	margin-bottom: 20px;
}

input {
	color: #000000;
	font-size: 14px;
	border: #666666 dotted 1px;
	height: 24px;
	margin-bottom: 10px;
	width: 200px;
}

textarea {
	color: #000000;
	font-size: 14px;
	border: #666666 dotted 1px;
	height: 124px;
	margin-bottom: 10px;
  width: 200px;
}

.titles {
	font-size: 11px;
}

.submit {
  background: #000;
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.star {
	color: #FF0000; 
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
}