{% load media %}
<html>
    <head>
        <title>Roundtable</title>
            {% block stylesheets %}
            {% include_media 'main.css' %}
            {% include_media 'post-ui.css' %}
            {% endblock %}
            {% block scripts-async %}
            {% endblock %}
         <link href='http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
			<div class="content">
				<div class="logo">Roundtable | news, people, ideas</div>
				{% if issue %}
				<div class="navbar">
					{% block navitems %}{% endblock %}
				</div>
				{% endif %}

    		<h1>{% block title %}{% endblock %}</h1>
    		{% block body %}
    		{% endblock %}
    		{% block scripts %}
    		{% include_media 'main.js' %}
    		{% endblock %}
			</div>
    </body>
</html>
