{% load media %}
<html>
    <head>
        <title>Roundtable</title>
            {% block stylesheets %}
            {% include_media 'main.css' %}
            {% endblock %}
            {% block scripts-async %}
            {% endblock %}
    </head>
    <body>
			<div class="content">
				<div class="navbar">
					<div class="navitem">Discover</div>
					<div class="navitem">Discuss</div>
					<div class="navitem">Resolve</div>
					<div class="navitem">Vote</div>
				</div>

    		<h1>{% block title %}{% endblock %}</h1>
    		{% block body %}
    		{% endblock %}
    		{% block scripts %}
    		{% include_media 'main.js' %}
    		{% endblock %}
			</div>
    </body>
</html>
