{% load media %}
<html>
    <head>
        <title>Roundtable</title>
            {% block stylesheets %}
            {% include_media 'main.css' %}
            {% endblock %}
            {% block scripts-async %}
            {% endblock %}
    </head>
    <body>
			<div class="content">
				<div class="logo"></div>
				</div>
				<div class="navbar">
					<div class="navitem"><a href="{% url issues.views.discover issue.slug %}">Discover</a></div>
					<div class="navitem"><a href="{% url issues.views.discuss issue.slug %}">Discuss</a></div>
					<div class="navitem"><a href="{% url issues.views.resolve issue.slug %}">Resolve</a></div>
				</div>

    		<h1>{% block title %}{% endblock %}</h1>
    		{% block body %}
    		{% endblock %}
    		{% block scripts %}
    		{% include_media 'main.js' %}
    		{% endblock %}
			</div>
    </body>
</html>
