{% extends 'base.html' %}

{% block title %}{{ issue.name }}{% endblock title %}

{% block body %}

<div class="description">{{ issue.description }}</div>

<div class="attending">
	<p>10 people are interested in this debate:</p>
	<div class="person"><img src="/static/images/profile.png"><br/>Andy</div>
	<div class="person"><img src="/static/images/profile.png"><br/>Neil</div>
	<div class="person"><img src="/static/images/profile.png"><br/>Shaminder</div>
	<div class="person"><img src="/static/images/profile.png"><br/>Trina</div>
	<div class="person"><img src="/static/images/profile.png"><br/>Matt</div>
	<div class="person"><img src="/static/images/profile.png"><br/>David</div>
	<div class="person"><img src="/static/images/profile.png"><br/>Stijn</div>
	<div class="person"><img src="/static/images/profile.png"><br/>Cody</div>
	<div class="person"><img src="/static/images/profile.png"><br/>Gunner</div>
	<div class="person"><img src="/static/images/profile.png"><br/>Phillip</div>
</div>

{% endblock %}
