{% extends 'base.html' %}
{% load comments %}

{% block navitems %}
<div class="navitem"><a href="{% url issues.views.discover issue.slug %}">Discover</a></div>
<div class="navitem even sel"><a href="{% url issues.views.discuss issue.slug %}">Discuss</a></div>
<div class="navitem"><a href="{% url issues.views.resolve issue.slug %}">Resolve</a></div>
{% endblock %}

{% block body %}

	{% get_comment_count for issue as comment_count %}
	<div id="table-header">
		<div class="badge">
			<img src="/static/images/learn-more.png" />
		</div>
		
		<div id="issue">
			The issue at the table is: <span class="emphasize">{{ issue.name }}</span>.
		</div>
		
		<div id="featured-post"></div>
	</div>
	
	<h3>{{ comment_count }} post{{ comment_count|pluralize }}</h3>
	<div id="post-thread-col">
		{% render_comment_list for issue %}
		
<!--
		{% for comment in comments %}
			<div class="post">{{ comment.body }}</div>
			{% if comment.children %}
				{% for comment in comments %}
					<div class="nested-comment">{{ comment.body }}</div>
				{% endfor %}
			{% endif %}
		{% endfor %}
-->
	</div>
	
	<div id="address-table-col">
		<button id="text">Text</button>
		<form class="text-input">
			<textarea rows="10" cols="30">I have something to say it is text because it is a statement.</textarea>
			<input type="submit" value="Submit" />
		</form>
		
		<button id="question">Question</button>
		<form class="question-input">
			<textarea rows="10" cols="30">I can haz nomz?</textarea>
			<input type="submit" value="Submit" />
		</form>
	</div>

{% endblock %}
