{% extends 'base.html' %}
{% load comments %}

{% block navitems %}
<div class="navitem"><a href="{% url issues.views.discover issue.slug %}">Discover</a></div>
<div class="navitem even sel"><a href="{% url issues.views.discuss issue.slug %}">Discuss</a></div>
<div class="navitem"><a href="{% url issues.views.resolve issue.slug %}">Resolve</a></div>
{% endblock %}

{% block body %}

	{% get_comment_count for issue as comment_count %}
	<div id="table-header">
		<div class="badge">
			<a href="{% url issues.views.discover issue.slug %}"><img src="/static/images/learn-more.png" /></a>
		</div>
		
		<div id="issue">
			The issue at the table is:<br />
			<span class="emphasize">{{ issue.name }}?</span>
		</div>
		
		<center><featured>
			<div id="featchpost">
				<div class="info"><em>New addresses to the table will appear time-lapsed here. Watch your comment fade out slowly…</em><p>
					<ul id="recent">
					</ul>
				</div>
			</div>
		</featured></center>

		<ol  id="update" class="timeline">
		</ol>
		<div id="flash" align="left"  ></div>
	</div>
	
	<div id="post-thread-col">
	<h3>{{ comment_count }} post{{ comment_count|pluralize }}</h3>
		{% render_comment_list for issue %}
		
<!--
		{% for comment in comments %}
			<div class="post">{{ comment.body }}</div>
			{% if comment.children %}
				{% for comment in comments %}
					<div class="nested-comment">{{ comment.body }}</div>
				{% endfor %}
			{% endif %}
		{% endfor %}
-->
	</div>
	
	<div id="address-table-col">
		<div style="margin-left:100px">
			<button id="text">Text</button>
			<form action="#" method="post">				
				<span class="titles">Tell it to the table:</span><br>
				<textarea name="comment" id="comment"></textarea><br />
				
				<input type="submit" class="submit" value=" Submit! " />
			</form>
			<button id="question">Question</button>
			<form action="#" method="post">				
				<span class="titles">Tell it to the table:</span><br>
				<textarea name="comment" id="comment"></textarea><br />
				
				<input type="submit" class="submit" value=" Submit! " />
			</form>
		</div>
</div>

{% endblock %}
