{% extends 'base.html' %}
{% load comments %}

{% block body %}
	<div id="table-header">
		<div class="badge">
			Learn more!
		</div>
		
		<div id="issue">
			The issue at the table is: <span class="emphasize">{{ issue.name }}</span>.
		</div>
		
		<div id="featured-post"></div>
	</div>
	
	<div id="post-thread-col">
	  {% for solution in solutions %}
	      {% get_comment_count for solution as comment_count %}
	      <h3>
	          {{ comment_count }} comment{{ comment_count|pluralize }}
	          for {{ solution.title }}
	      </h3>
	      <div class="solution-comments">
	          {% render_comment_list for solution %}
	      </div>
	  {% endfor %}
	</div>
	
	<div id="address-table-col">
		<button id="text">Propose a resolution</button>
		<form class="text-input">
			<textarea rows="10" cols="30">Here is my awesome awesome ideal solution!</textarea>
			<input type="submit" value="Submit" />
		</form>
	</div>

{% endblock %}